.contact__left {
  background-color: $bg-color;
  padding: $p8 $p4;
  border-radius: 10px;

  h3 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: $m4;
  }

  .form {
    &__control {
      margin-bottom: $m2;
      label {
        display: block;
        font-size: 1rem;
        margin-bottom: $m1;
      }
      .form__input {
        width: 100%;
        padding: $p1;
        background-color: $secondary;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
.error {
  color: red;
  font-size: 0.8rem;
}

.success {
  border: 1px solid #d4edda;
  margin-top: $m2;
  padding: 5px;
  transition: all 0.3s ease;
}

.failed {
  border: 1px solid red;
  margin-top: $m2;
  padding: 5px;
  transition: all 0.3s ease;
}
