@import "./contactleft";
@import "./contactright";

.contact {
  &__container {
    @extend .grid;
    grid-template-columns: 3fr 2fr;
    align-items: start;
    margin-top: $m8;
    gap: 5rem;

    @include lm {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
