.container {
  max-width: 1140px;
  width: calc(100% - 2rem);
  margin: 0 auto;
}
.grid {
  display: grid;
  gap: 2.5rem;
  align-items: center;
  justify-content: space-between;
}
.section {
  margin-top: 100px;
}

.section__title {
  font-size: 2.1875rem;
  text-align: center;
  color: $secondary;
  @include md {
    font-size: 2rem;
  }
  @include sm {
    font-size: 1.4rem;
  }
}
.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  font-size: 1rem;
  color: $secondary;
  border: 1px solid $secondary;
  background-color: transparent;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    width: 0%;
    height: 100%;
    background-color: $secondary;
    color: $primary;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    z-index: -1;
  }
  &:hover::before {
    width: 100%;
  }
  &:hover {
    color: $primary;
  }
}
