.header {
  background-color: $primary;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  .nav {
    color: $secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    position: relative;
    border-bottom: 1px solid rgb(194, 183, 183);

    &__menu {
      @include sm {
        position: absolute;
        top: -500px;
        right: 0;
        background-color: rgb(0, 0, 0);
        width: 100%;
        transition: all 0.3s ease;
        border-radius: 10px;
        border: 1px solid rgb(255, 255, 255);
      }
      .nav__list {
        display: flex;
        gap: $m4;
        padding: $p6 $p3;
        @include sm {
          flex-direction: column;
          gap: $m1;
        }
        .nav__link {
          color: $secondary;
          position: relative;
          padding: $p1 0;
          @include sm {
            width: 100%;
          }
          &::before {
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $secondary;
            transition: all 0.3s ease;

            @include sm {
              display: none;
            }
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }

    &__logo {
      font-size: 1.5rem;
    }
    &__toggle {
      font-size: 1.5rem;
      cursor: pointer;
      display: none;
      @include sm {
        display: block;
      }
    }

    &__resume {
      @include sm {
        display: none;
      }
    }
  }
}

.active {
  .nav {
    &__menu {
      top: calc(85px + 2rem);
    }
  }
}
